
.headerEl {
    text-align: center;
    background-color: lightgray;
}
.menuEl {
    text-align: center;
    background-color: lightblue;
}

#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

.mainEl {
    text-align: center;
    background-color: black;
    color: white;
}

.footerEl {
    text-align: center;
}

.fa {
    
  }

.fa-cloud {
    color: white;
    font-size: 80px;
}

.fa-sun {
    color: white;
    font-size: 80px;
}

.fa-cloud-showers-heavy {
    color: white;
    font-size: 80px;
}

.fa-cloud-sun-rain {
    color: white;
    font-size: 80px;
}

.col-lg-2 {
    flex: 0 0 20%;
    max-width: 20%;
    margin-top: 20px;
}



